
.input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 0.95rem;
    border: 1px solid #dcdde1;

    border-radius: 8px;
    background: #fff;
    margin: 0;
    transition: all 0.2s ease;
}

.input:focus {
    border-color: #4cafef;
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 239, 0.4);
}



