.myBtn {
    background-color: #7b0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.15s;
}
.myBtn:hover {
    background-color: #a30000;
    transform: scale(1.05);
}

.myBtn:active {
    background-color: #b30000;
    box-shadow: 0 0 10px rgba(123, 0, 0, 0.3);
}

.myBtn:disabled {
    color: white;
    background-color: gray;
    pointer-events: none;
    opacity: 0.6;
}