.select {
    width: 100%;
    padding: 9px;
    font-size: 1rem;
    font-family: inherit;
    color: #2c3e50;
    background-color: #ffffff;
    border: 1.5px solid #dcdde1;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.select:focus {
    border-color: #4cafef;
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 239, 0.4);
}

.select option {
    padding: 10px;
    background-color: #fff;
    color: #2c3e50;
}