.regSuccessContainer {
    max-width: 420px;
    margin: 80px auto;
    padding: 32px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
    font-family: "Inter", sans-serif;
    text-align: center;
}

.regSuccessTitle {
    font-size: 22px;
    font-weight: 600;
    color: #222;
    margin-bottom: 24px;
}

.regSuccessLink {
    display: inline-block;
    padding: 10px 24px;
    background-color: #800;;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.regSuccessLink:hover {
    background-color: #a30000;
    transform: scale(1.05);
}
